  <section>
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <div class="navber-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand">{{Title}}</a>
                </div>
                <div class="collapse navbar-collapse" id="collapse">   <!--collapsibleNavbar-->
                  <ul class="nav navbar-nav navbar-left">
                    <li class="nav-item ac">
                      <a routerLink="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item ac">
                      <a routerLink="/contact" class="nav-link">Contact</a>
                    </li> 
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Products
                            <span class="caret"></span>
                        </a>                   
                          <ul class="dropdown-menu ac">
                            <li><a routerLink="/" [queryParams]="{category: 'เสื้อ'}">เสื้อ</a></li>
                            <li><a routerLink="/" [queryParams]="{category: 'กางเกง'}">กางเกง</a></li>    
                            <li><a routerLink="/" [queryParams]="{category: 'รองเท้า'}">รองเท้า</a></li>
                            <li class="divider"></li>
                            <li><a routerLink="/" [queryParams]="{category: 'กระเป๋า'}">กระเป๋า</a></li>
                            <li class="divider"></li>
                            <li><a routerLink="/">สินค้าทั้งหมด</a></li>
                          </ul>
                    </li> 
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item ac">
                      <div class="form-inline" style="margin: 8px;">
                        <input class="form-control" type="search" placeholder="Search">    
                      </div>        
                    </li>
                    <li class="nav-item ac">
                      <a routerLink="/cart">
                        <span class="glyphicon glyphicon-shopping-cart" ></span>
                          <div>
                            <span class="badge badge-danger">{{cartItemCount}}</span>
                          </div>      
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
<footer class="text-center" style="margin: 20px;">
    <p>Posted by:.....</p>
    <p>Contact information: <a >someone@example.com</a>.</p>
</footer>