.badge-danger{
    background-color: white;
    color: rgb(238, 77, 45);
    position: absolute;
    border-radius: 50%;
    height:2rem;
    top:1.5rem;
    right:2.6rem;
    width:2rem;
    text-align: center;
    margin-top:-10px;
}

.footer{
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover ,.dropdown-toggle{
    text-decoration: none;
    background-color: transparent !important;
}

.nav>li>a, .navbar-brand{
    color: white;
}
