<router-outlet></router-outlet>
<div class="jumbotron" style="background-color: transparent;"></div>
<app-service></app-service>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of ListItem">
      <div class="panel-list col-md-12">
          <img class="ListItem" height="125" width="125" src="{{ item.imageUrl }}" alt="">  
          <br>
          <h5 class="col-md-12">{{ item.title | title: 'Name' }}</h5>
          <br>
          <h5 class="col-md-12">{{ item.price | currency: 'THB': 'symbol-narrow'  | title: 'Price' }} </h5>
          <br>
          <div class="col-md-12 center-block">
            <button (click)="addToCart(item)" type="button" class="col-md-12 btn btn-info btn-block" appBgColor="red">Add to cart</button>
          </div>
      </div>
    </div>
  </div>
</div>